<div class="about2">
    <div class="left">
        <img id="l" src="assets/Img/about2.png">
    </div>

    <div class="right">
        <div class="title">
            <span><b>Somos uma empresa de Construção Civil</b></span>
        </div>
        <div class="text">
            <p>Os valores da empresa, espelham o rigor com que se posiciona, nomeadamente:</p>
            <div id="space"></div>
            <p>ASSUMIR os compromissos contratuais, sociais e legais, satisfazendo todas as partes envolvidas.</p>
            <p>PLANEAR mantendo uma atitude proativa, aproximando os resultados dos objetivos, antecipando problemas, promovendo assim a qualidade.</p>
            <p>CUMPRIR com as expetativas e necessidades de cada cliente, com ética, lealdade, rigor e exigência.</p>
        </div>
    </div>
</div>