<body id="about">
<div class="two" id="este">
  <div class="title">
    <span><b>Sobre </b></span>
    <span id="us"><b>Nós</b></span>
  </div>
  <div class="bar">
    <img class="bar" src="../../assets/Icons/bar_title.png">
  </div>
</div>  


<div class="table">
<table align="center">
  <tr>
    <td>
      <div class="square">
        <div class="icon">
          <img src="../../assets/Icons/about1-w.svg">
        </div>
        <div class="Stitle">
          <span>Criatividade</span>
        </div>
        <div class="text"> 
          <span>Somos uma empresa de construção civil com um elevado “know-how”, que permite estar à altura das expectativas do nosso</span>
          <p>CLIENTE</p>
        </div>
      </div>
    </td>

    <td>
      <div class="square">
        <div class="icon">
          <img src="../../assets/Icons/about2-w.svg">
        </div>
        <div class="Stitle">
          <span>Profissionalismo</span>
        </div>
        <div class="text">
          <span>Exigentes no profissionalismo e rigor nos trabalhos realizados, contando com a constante formação dos seus pilares essenciais para o seu crescimento, os</span>
          <p>TRABALHADORES</p> 				
        </div>
      </div>
    </td>

    <td>
      <div class="square">
        <div class="icon">
          <img src="../../assets/Icons/about3-w.svg">
        </div>
        <div class="Stitle">
          <span>Génios</span>
        </div>
        <div class="text">
          <span>Nós temos todos os meios apropriados para realizar todos os tipos de obras civis, graças à nossa equipa de</span>
          <p>GÉNIOS</p>
        </div>
      </div>
    </td>
  </tr>
</table>

</div>
</body>
