<body id="about">
<div class="two" id="este">
  <div class="title">
    <span><b>Sobre </b></span>
    <span id="us"><b>Nós</b></span>
  </div>
  <div class="bar">
    <img class="bar" src="assets/Icons/bar_title.png">
  </div>
</div>  


<div class="table">
<table align="center">
  <tr>
    <td>
      <div class="square">
        <div class="icon">
          <img src="assets/Icons/about1-w.svg">
        </div>
        <div class="Stitle">
          <span>Creatividade</span>
        </div>
        <div class="text"> 
          <p>Somos uma empresa de construção</p> 				
          <p>civil com um elevado “know-how”,</p>				
          <p>que permite estar à altura das</p>				
          <p>expectativas do nosso</p>
          <p>CLIENTE</p>
        </div>
      </div>
    </td>

    <td>
      <div class="square">
        <div class="icon">
          <img src="assets/Icons/about2-w.svg">
        </div>
        <div class="Stitle">
          <span>Professionalismo</span>
        </div>
        <div class="text">
          <p>Exigentes no profissionalismo e rigor</p>				
          <p>nos trabalhos realizados, contando</p>	
          <p>com a constante formação dos</p>	
          <p>seus pilares essenciais para o</p>			
          <p>seu crescimento, os</p>
          <p>TRABALHADORES</p> 				
        </div>
      </div>
    </td>

    <td>
      <div class="square">
        <div class="icon">
          <img src="assets/Icons/about3-w.svg">
        </div>
        <div class="Stitle">
          <span>Génios</span>
        </div>
        <div class="text">
          <p>Nós temos todos os meios</p>				
          <p>apropriados para realizar todos os</p>
          <p>tipos de obras civis, graças</p>				
          <p>à nossa equipa de</p>
          <p>GÊNIOS</p>
        </div>
      </div>
    </td>
  </tr>
</table>

</div>
</body>