.title{
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 250%;
}
.bar{
    margin: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
}
#us{
    color: rgb(254,253,2);
}
table{
    width: 80%;
    height: 400px ;
}
.table{
    width: 100%;
    margin-top: 3%;
    border-spacing: 10%;
}
td{ 
    height: 380px ;
    width: calc(100%/3);
}

.square{
    border: 3px solid black;
    background-color: #2D2E2E;
    margin: 5%;
    height: 380px ; 
}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.Stitle{
    text-align: center;
    color: gray;
    font-size: 140%;
    margin:5%;
}

.text{
    color: white;
    text-align: center;
    line-height: 12px;
}

/*animation*/

.square:hover, .Stitle:hover{
    background-color: grey; 
    color: white;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 220px to 319px
*/

@media (min-width: 220px) and (max-width: 319px) {
    .title{
        margin-top: 2%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    table{
        width: 100%;
        height: 200px ;
    }

    .table{
        width: 100%;
        margin-top: 3%;
        border-spacing: 10%;
    }
    td{ 
        height: 200px ;
        width: calc(100%/3);
    }
    
    .square{
        border: 3px solid black;
        background-color: #2D2E2E;
        margin: 5%;
        height: 200px ; 
    }
    .icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }    
    .Stitle{
        text-align: center;
        color: gray;
        font-size: 50%;
    }
    
    .text{
        color: white;
        text-align: center;
        font-size: 40%;
        line-height: 12px;
    }
    
    /*animation*/
    
    .square:hover, .Stitle:hover{
        background-color: grey; 
        color: white;
    }
    
}

/*Iphone X*/

@media (min-width : 331px) and (max-width : 380px){

    .title{
        margin-top: 2%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    table{
        width: 100%;
        height: 200px ;
    }

    .table{
        width: 100%;
        margin-top: 3%;
        border-spacing: 10%;
    }
    td{ 
        height: 200px ;
        width: calc(100%/3);
    }
    
    .square{
        border: 3px solid black;
        background-color: #2D2E2E;
        margin: 5%;
        height: 200px ; 
    }
    .icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }    
    .Stitle{
        text-align: center;
        color: gray;
        font-size: 60%;
        margin: 2%;
    }
    
    .text{
        color: white;
        text-align: center;
        font-size: 50%;
        line-height: 12px;
    }
    
    /*animation*/
    
    .square:hover, .Stitle:hover{
        background-color: grey; 
        color: white;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 381px) and (max-width: 480px) {
  
    .title{
        margin-top: 2%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    table{
        width: 100%;
        height: 200px ;
    }

    .table{
        width: 100%;
        margin-top: 3%;
        border-spacing: 10%;
    }
    td{ 
        height: 200px ;
        width: calc(100%/3);
    }
    
    .square{
        border: 3px solid black;
        background-color: #2D2E2E;
        margin: 5%;
        height: 200px ; 
    }
    .icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }    
    .Stitle{
        text-align: center;
        color: gray;
        font-size: 60%;
    }
    
    .text{
        color: white;
        text-align: center;
        font-size: 40%;
        line-height: 12px;
    }
    
    /*animation*/
    
    .square:hover, .Stitle:hover{
        background-color: grey; 
        color: white;
    }
    
  }


  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

    .title{
        margin-top: 2%;
        text-align: center;
        color: white;
        font-size: 150%;
    }
    .bar{
        margin: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    table{
        width: 80%;
        height: 300px ;
    }

    .table{
        width: 100%;
        margin-top: 3%;
        border-spacing: 10%;
    }
    td{ 
        height: 300px ;
        width: calc(100%/3);
    }
    
    .square{
        border: 3px solid black;
        background-color: #2D2E2E;
        margin: 5%;
        height: 300px ; 
    }
    .icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }    
    .Stitle{
        text-align: center;
        color: gray;
        font-size: 105%;
    }
    
    .text{
        color: white;
        text-align: center;
        font-size: 80%;
        line-height: 20px;
    }
    
    /*animation*/
    
    .square:hover, .Stitle:hover{
        background-color: grey; 
        color: white;
    }

}