<div class="divider">
    <div class="four">
        <table align="center" cellspacing="50">
          <tr>
            <td id="td1">
              <div class="icon">
                <img src="assets/Icons/icon-d-1.svg">
              </div>
              <div class="Stitle">
                <p>500</p>
                <p>Clientes felizes</p>
              </div>
            </td>
            <td id="td2">
              <div class="icon">
                <img src="assets/Icons/icon-d-2.svg">
              </div>
              <div class="Stitle">
                <p>789</p>
                <p>Projetos Completados</p>
              </div>
            </td>
            <td id="td3">
              <div class="icon">
                <img src="assets/Icons/icon-d-3.svg">
              </div>
              <div class="Stitle">
                <p>389</p> 
                <p>Feedback Positivo</p>
              </div>
            </td>
            <td id="td4">
              <div class="icon">
                <img src="assets/Icons/icon-d-4.svg">
              </div>
              <div class="Stitle">
                <p>2500</p>
                <p>Chavenas de café</p>
              </div>
            </td>
          </tr>
        </table>
      </div>