<body id="service">
<div class="two">
    <div class="title">
      <span><b>Nosso </b></span>
      <span id="us"><b>Serviço</b></span>
    </div>
    <div class="bar">
      <img class="bar" src="https://tituloseassuntos.tk/assets/Icons/bar_title.png">
    </div>
  </div>  

  <!-- six squares-->

  <div class="six">
    <table align="center" cellspacing="30">
      <tr>
        <td>
          <div class="icon">
            <img src="https://tituloseassuntos.tk/assets/Icons/service1-w.svg">
          </div>
          <div class="Stitle">
            <span>Nós planeamos</span>
          </div>
        </td>
        <td>
          <div class="icon">
            <img src="https://tituloseassuntos.tk/assets/Icons/service2-w.svg">
          </div>
          <div class="Stitle">
            <span>Nós restauramos</span>
          </div>
        </td>
        <td>
          <div class="icon">
            <img src="https://tituloseassuntos.tk/assets/Icons/service3-w.svg">
          </div>
          <div class="Stitle">
            <span>Nós construímos</span>
          </div>
        </td>
      </tr>
      <!-- bottom -->
      <tr>
        <td>
          <div class="icon">
            <img src="https://tituloseassuntos.tk/assets/Icons/service4-w.svg">
          </div>
          <div class="Stitle">
            <p>Nós somos felizes</p>
            <p>se o cliente for também</p>
          </div>
        </td>

        <td>
          <div class="icon">
            <img id="s5" src="https://tituloseassuntos.tk/assets/Icons/service5-w.svg">
          </div>
          <div class="Stitle">
            <span>Nós entregamos</span>
          </div>
        </td>
          
        <td>
          <div class="icon">
            <img src="https://tituloseassuntos.tk/assets/Icons/service6-w.svg">
          </div>
          <div class="Stitle">
            <p>Nós vamos onde</p>
            <p>for pedido</p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>