 <div class="about3">

    <div class="left">
        <div class="title">
            <span><b>Serviço hospitalar</b></span>
        </div>
        <div class="text">
            <p>Além disso somos especializados na área de serviço hospitalar 
            desde entregas e montagens dos mais diversos equipamentos até criação de espaços apropriados.</p>
            <div id="space"></div>
            <p>Esta vertente pretende apoiar uma das mais importantes infraestruuras da sociedade
            de forma a garantir aos seus clientes as melhores condições possíveis.</p>
        </div>
    </div>

      <div class="right">
        <img id="l" src="assets/Img/hosp.png">
      </div> 
</div>