body{
    background-color: rgb(129, 129, 129);
    height: 800px !important;
}
#sapce{
    margin: 1%;
    height: 20px;
}
.two{
    margin-top: 3%;
}
.title{
    text-align: center;
    color: white;
    font-size: 250%;
}
.bar{
    margin: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
}

#us{
    color: rgb(254,253,2);
}

/*left chart*/
.size, .text{
    margin-top:2%; 
    width: 80%;
    height: 400px !important; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text{
    position: relative;
    top: -400px !important;
}
.text > p{
    text-align: center;
    color: white;
    font-size: 130%;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 220px to 319px
*/

@media (min-width: 220px) and (max-width: 319px) {
    .title{
        margin-top: 3%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    body{
        background-color: rgb(129, 129, 129);
        height: 250px !important;
    }
    #space{
        margin: 1%;
        height: 10px;
    }
    .two{
        margin-top: 4%;
    }
    
    /*left chart*/
    .size, .text{
        margin-top:2%; 
        width: 80%;
        height: 200px !important; 
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .text{
        position: relative;
        top: -90px !important;
    }
    .text > p{
        text-align: center;
        color: white;
        font-size: 10%;
    }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .title{
        margin-top: 3%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    body{
        background-color: rgb(129, 129, 129);
        height: 250px !important;
    }
    #space{
        margin: 1%;
        height: 10px;
    }
    .two{
        margin-top: 4%;
    }
    
    /*left chart*/
    .size, .text{
        margin-top:2%; 
        width: 80%;
        height: 200px !important; 
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .text{
        position: relative;
        top: -110px !important;
    }
    .text > p{
        text-align: center;
        color: white;
        font-size: 20%;
    }
    
  }


  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

.title{
    margin-top: 2%;
    text-align: center;
    color: white;
    font-size: 120%;
}
.bar{
    margin: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 5%;
}
#us{
    color: rgb(254,253,2);
}
body{
    background-color: rgb(129, 129, 129);
    height: 380px !important;
    }
#space{
    width: 100%;
    height: 10px;
    }
.two{
    margin-top: 4%;
}
    
    /*left chart*/
.size, .text{
    margin-top:2%; 
    width: 80%;
    height: 200px !important; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    .text{
        position: relative;
        top: -165px !important;
    }
    .text > p{
        text-align: center;
        color: white;
        font-size: 60%;
    }
}


