.divider{
    margin-top: 5%;
}

#div{
    width: 100%;
    height: 250px ;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 220px to 319px
*/

@media (min-width: 220px) and (max-width: 319px) {

    .divider{
        margin: 0%;
        height: 40px ;
    }
    #div{
        width: 100%;
        height: 40px ;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .divider{
        margin: 0%;
    }
    
    #div{
        width: 100%;
        height: 44px ;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .divider{
        margin-top: 1%;
    }
    
    #div{
        width: 100%;
        height: 90px ;
    }
}