<div class="nav" id="myHeader">  
  <nav>
    <ul>
      <li id="side">
          <img id="logo" src="../../assets/Icons/logo-white-notext.png">
      </li>
      <li>
      <a href="#slide">
        <!-- <i class="material-icons" id="home">home</i> -->
        <p>Ínicio</p>
      </a>
    </li>
    <li>
      <a href="#about">
        <!-- <i class="material-icons">picture_in_picture_alt</i> -->
        <p>Sobre Nós</p>
      </a>
    </li>
    <li>
        <a href="#service">
          <!-- <i class="material-icons">work</i> -->
          <p>Serviços</p>
        </a>
      </li>
      <li>
        <a href="#explore">
          <!-- <i class="material-icons">explore</i> -->
          <p>Explorar</p>
        </a>
      </li>
      <li>
        <a href="#contact">
         <!-- <i class="material-icons">message</i> -->
          <p>Contacte-nos</p>
        </a>
      </li>
  </ul>
</nav>
</div>

