<body id="explore">
  <div id="space"></div>
  <div class="two">
  <div class="title">
    <span><b>Nosso </b></span>
    <span id="us"><b>Trabalho</b></span>
  </div>
  <div class="bar">
    <img class="bar" src="../../assets/Icons/bar_title.png">
  </div>
</div> 

<!-- table with pictures -->

<div class="six">
    <table align="center" cellspacing="30">
      <tr>
        <td>
          <div class="icon">
            <img src="../../assets/Img/work1.jpg">
          </div>
        </td>
        <td>
          <div class="icon">
            <img src="../../assets/Img/work2.jpg">
          </div>
        </td>
        <td>
          <div class="icon">
            <img src="../../assets/Img/work3.jpg">
          </div>
        </td>
      </tr>
      <!-- bottom -->
      <tr>
        <td>
          <div class="icon">
            <img src="../../assets/Img/work4.jpg">
          </div>
        </td>

        <td>
          <div class="icon">
            <img id="s5" src="../../assets/Img/work5.jpg">
          </div>
        </td>
          
        <td>
          <div class="icon">
            <img src="../../assets/Img/work6.jpg">
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>