body{
    background-color: rgb(78, 78, 78);
    height: 650px !important; 
}

#space{
    height: 5%;
}

.two{
    margin-top: 0%;
}

.title{
    text-align: center;
    color: white;
    font-size: 250%;
}
.bar{
    margin: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
}

#us{
    color: rgb(254,253,2);
}

.six{
    margin-top: 1%;
}

tr{
    height: 200px !important;
    margin:0%;
}

td{
    width: calc(100%/3);
    border: 3px solid black;
    height: 100px !important;
}

.icon > img{
    width: 250px !important;
    height: 200px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

td:hover{
    background-color: grey; 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 220px to 319px
*/

@media (min-width: 220px) and (max-width: 319px) {
    body{
        background-color: rgb(78, 78, 78);
        height: 250px !important; 
    }
    .title{
        margin-top: 0%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    
    #space{
        height: 3%;
    }
    

    .six{
        margin: 0%;
    }
    table{
        border-spacing:20px;
    }
    tr{
        height: 50px !important;
        margin:0%;
    }
    
    td{
        width: calc(100%/3);
        border: 2px solid black;
        height: 50px !important;
    }
    
    .icon > img{
        width: 50px !important;
        height: 50px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    td:hover{
        background-color: grey; 
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    body{
        background-color: rgb(78, 78, 78);
        height: 250px !important; 
    }
    .title{
        margin-top: 0%;
        text-align: center;
        color: white;
        font-size: 100%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    
    #space{
        height: 5%;
    }
    
    .two{
        margin-top: 0%;
    }

    .six{
        margin-top: 0%;
    }
    
    tr{
        height: 50px !important;
        margin:0%;
    }
    
    td{
        width: calc(100%/3);
        border: 3px solid black;
        height: 50px !important;
    }
    
    .icon > img{
        width: 50px !important;
        height: 50px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    td:hover{
        background-color: grey; 
    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    
    body{
        background-color: rgb(78, 78, 78);
        height: 450px !important; 
    }
    .title{
        margin-top: 2%;
        text-align: center;
        color: white;
        font-size: 120%;
    }
    .bar{
        margin: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 5%;
    }
    #us{
        color: rgb(254,253,2);
    }
    
    #space{
        height: 5%;
    }
    
    .two{
        margin-top: 0%;
    }

    .six{
        margin-top: 0%;
    }
    
    tr{
        height: 100px !important;
        margin:0%;
    }
    
    td{
        width: calc(100%/3);
        border: 3px solid black;
        height: 100px !important;
    }
    
    .icon > img{
        width: 100px !important;
        height: 100px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    td:hover{
        background-color: grey; 
    }
}